<h3>{{model.spec.info.title}}</h3>
<h4>{{model.spec.info.description}}</h4>
<ul>
  <li>
    {{#link-to "spec.info"}}General Info{{/link-to}}
  </li>
  <li>
    {{#link-to "spec.definitions"}}Definitions{{/link-to}}
  </li>
  <li>
    {{#link-to "spec.paths"}}Paths{{/link-to}}
  </li>
  <li>
    <a href="/{{model.name}}.swagger.yaml" target="_blank">View yaml source</a>
  </li>
</ul>
<hr>
{{outlet}}
